header div img{

        width: 70px;
        height: auto;
    }

    /* HEADER */

    header nav a {
        padding: 0 16px;
}
header nav {
    padding-bottom: 4px;
    padding-left: 900px;
    /* word-spacing: 16px; */  
  }

  a {
    color: black;
    text-decoration: none;
  }
   
  header {
    display: flex;
    align-items: flex-end;
    padding: 1px;
    background-color: white;
    border: 2px solid #f9f9f9;
    border-style: none none solid none;
    
    
  }

  .bouton1 {

    border: 2;
    line-height: 2;
    padding: 0 10px;
    text-align: center;
    color: #2d96c8;
    background-color: white;
    border-radius: 50px;
    border-color: #2d96c8;

}

.bouton2 {

    border: 2;
    line-height: 2;
    padding: 0 10px;
    text-align: center;
    color: white;
    background-color: #2d96c8;
    border-radius: 50px;
    border-color: #2d96c8;

}



  /* SECTION 1 */

  .section11{

    text-align: center;
}

.section11 img{

    width:  auto;
    height: 550px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 0%; 
    margin-bottom: 70px;
    margin-left: 850px;
    padding: 0px;
      
}

.boximage{

    width:  auto;
    height: 400px;
    overflow: hidden;
      
}

.section1 h1{

    font-size: 2em;
    text-align:start;
    text-align: justify;
    margin-top: -20%;
    
}

.section1 h3{

    font-size: 2em;
    text-align: left;
}

.section1 {
 
    margin-top: 0%;
    margin-bottom: 50px;
    padding-bottom: 50px;

}

.bouton3 {

    border: 2;
    line-height: 2;
    padding: 0 10px;
    text-align: left;
    color: white;
    background-color: #ef5466;
    border-radius: 50px;
    border-color: #ef5466;
    position: relative;
    bottom: 80px;
    right: 480px;

    
    

}

.bouton4 {

    border: 2;
    line-height: 2;
    padding: 0 10px;
    text-align: left;
    color: black;
    background-color: white;
    border-radius: 50px;
    border-color: black;
    position: relative;
    bottom: 80px;
    right: 450px;

}

/* SECTION 2 */

.section02{

    text-align: center;
    display: flex;
    padding: 50px;
    margin-top: 80px;

}



.section2{

    
    padding: 40px;
    
    
}

.section2 h1{

    font-size: 3em;
    text-align: center;
    
}

.section02{

    background-color: #f9f9f9;
    
    
}

.section2 ul {

    text-align: center;
    
}

.tel{

    width:  auto;
    height: 700px;
    
      
}


/* SECTION 3 */

.section03{

background-color:  #ef5466;
text-align: left;
color: white;   
}

.section3 h1 {
    margin-top: 0px; 
    padding: 20px;
    margin-left: 450px;
    flex-direction: row;
    position: relative;
    bottom: 80px;
     
 }

.section3 p {
   margin-top: 25px; 
   margin-left: 450px;
   flex-direction: row;
   position: relative;
    bottom: 80px;
    
    
}

.section31 {
    margin-top: 0%; 
    margin-left: 50px;
    flex-direction: row;
    padding: 50px;
     
 }

.logo1{

    width:  auto;
    height: 40px;
    display:inline-flex;
    position: relative;
    top: 80px;
      
}
.logo2{

    width:  auto;
    height: 40px;
    position: relative;
    top: 80px;
      
}
.logo3{

    width:  auto;
    height: 40px;
    position: relative;
    top: 80px;
      
}
.logo4{

    width:  auto;
    height: 40px; 
    position: relative;
    top: 80px;
    
          
}
.logo5{

    width:  auto;
    height: 40px;
    position: relative;
    top: 80px;
      
}
.logo6{

    width:  auto;
    height: 40px;
    position: relative;
    top: 80px;
      
}
.logo7{

    width:  auto;
    height: 40px;
    position: relative;
    top: 80px;
    
      
}


/* SECTION 4 */

.tab1 {
    display: flex;

    justify-content: center;
    padding: 1px;
    background-color: white;
    border: 2px solid #8e8e94;
    border-style: solid solid solid solid;
    position: relative;
    bottom: 80px;    
    
  }

  .section4p2{

    display: flex;
    align-items: flex-end;
    padding: 1px;
    background-color: white;
    border: 2px solid black;
    border-style: none none none none;
    align-items: flex-end;
    position: relative;
    top: 350px;
    font-size: 15px;
    

    
    
  }

  .bouton5 {

    border: 2;
    line-height: 2;
    padding: 0 10px;
    text-align: left;
    color: white;
    background-color: #8e8e94;
    border-radius: 50px;
    border-color: #8e8e94;
    
    

}


  .bouton6 {

    border: 2;
    line-height: 2;
    padding: 0 10px;
    text-align: left;
    color: white;
    background-color: #ef5466;
    border-radius: 50px;
    border-color: #ef5466;
    
    

}

.bouton7 {

    border: 2;
    line-height: 2;
    padding: 0 10px;
    text-align: left;
    color: white;
    background-color: #ef5466;
    border-radius: 50px;
    border-color: #ef5466;
    
    

}

.section4 h1 {

    text-align: center;
    
    
}

.section4 h5 {

    text-align: center;
    color:  #8e8e94; 
    font-size: 7px;
    
}



.fleche{

    width:  auto;
    height: 10px;
    
      
}

.table1{

  display: flex;
  justify-content: space-around;
  width: 65%;
  margin: 0 auto;

      
}
.table1 div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* SECTION 5 */
